<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="first_robot">
    <xacro:macro name="base_link" params="length radius">
        <link name="base_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>    
                </geometry>
                <material name="Black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
        </link>
    </xacro:macro>
    <xacro:macro name="imu_link" params="name xyz">
        <link name="${name}_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="0.02 0.02 0.02"/>    
                </geometry>
                <material name="White">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </visual>
        </link>

        <joint name="${name}_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${name}_link"/>
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>        
    </xacro:macro>

    <xacro:base_link length="0.12" radius="0.10"/>
    <xacro:imu_link name="imu" xyz="0.0 0.0 0.07"/>
    <xacro:imu_link name="imu2" xyz="0.0 0.09 0.07"/>
</robot>